/* Add your CSS code below */
a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
time {
  font-size: 0.9rem;
}
.message--unread {
  border-left: 3px solid blue;
}
.message__time--old {
  opacity: 0.3;
}
.message {
  line-height: 1rem;
}
